<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />

    <meta name="trustpilot-one-time-domain-verification-id" content="e48dd27e-29b3-4e9c-b73c-00f0f79cfa1b"/>
    
    
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="128x128"
      href="icons/favicon-128x128.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="icons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="icons/favicon-16x16.png"
    />
    <link rel="icon" type="image/ico" href="favicon.ico" />
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>

  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
  ></script>

  <!-- Google tag (gtag.js) - Google Analytics -->
<script src="https://www.googletagmanager.com/gtag/js?id=UA-236613901-1">
</script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-236613901-1');
</script>

  <script>
    window.SnipcartSettings = {
      publicApiKey:
        "YmRjNjU4ZDUtOTU5YS00MzUyLWE4ZmEtMjY5NWU3YzFmYzYyNjM3ODc5MTMzNzg3NzI4MTM0",
      loadStrategy: "on-user-interaction",
    };

    (() => {
      var a, d;
      (d = (a = window.SnipcartSettings).version) != null ||
        (a.version = "3.0");
      var s, S;
      (S = (s = window.SnipcartSettings).currency) != null ||
        (s.currency = "usd");
      var l, p;
      (p = (l = window.SnipcartSettings).timeoutDuration) != null ||
        (l.timeoutDuration = 2750);
      var w, u;
      (u = (w = window.SnipcartSettings).domain) != null ||
        (w.domain = "cdn.snipcart.com");
      var m, g;
      (g = (m = window.SnipcartSettings).protocol) != null ||
        (m.protocol = "https");
      var y =
          window.SnipcartSettings.version.includes("v3.0.0-ci") ||
          (window.SnipcartSettings.version != "3.0" &&
            window.SnipcartSettings.version.localeCompare("3.4.0", void 0, {
              numeric: !0,
              sensitivity: "base",
            }) === -1),
        f = ["focus", "mouseover", "touchmove", "scroll", "keydown"];
      window.LoadSnipcart = o;
      document.readyState === "loading"
        ? document.addEventListener("DOMContentLoaded", r)
        : r();
      function r() {
        window.SnipcartSettings.loadStrategy
          ? window.SnipcartSettings.loadStrategy === "on-user-interaction" &&
            (f.forEach((t) => document.addEventListener(t, o)),
            setTimeout(o, window.SnipcartSettings.timeoutDuration))
          : o();
      }
      var c = !1;
      function o() {
        if (c) return;
        c = !0;
        let t = document.getElementsByTagName("head")[0],
          e = document.querySelector("#snipcart"),
          i = document.querySelector(
            `src[src^="${window.SnipcartSettings.protocol}://${window.SnipcartSettings.domain}"][src$="snipcart.js"]`
          ),
          n = document.querySelector(
            `link[href^="${window.SnipcartSettings.protocol}://${window.SnipcartSettings.domain}"][href$="snipcart.css"]`
          );
        e ||
          ((e = document.createElement("div")),
          (e.id = "snipcart"),
          e.setAttribute("hidden", "true"),
          document.body.appendChild(e)),
          h(e),
          i ||
            ((i = document.createElement("script")),
            (i.src = `${window.SnipcartSettings.protocol}://${window.SnipcartSettings.domain}/themes/v${window.SnipcartSettings.version}/default/snipcart.js`),
            (i.async = !0),
            t.appendChild(i)),
          n ||
            ((n = document.createElement("link")),
            (n.rel = "stylesheet"),
            (n.type = "text/css"),
            (n.href = `${window.SnipcartSettings.protocol}://${window.SnipcartSettings.domain}/themes/v${window.SnipcartSettings.version}/default/snipcart.css`),
            t.prepend(n)),
          f.forEach((v) => document.removeEventListener(v, o));
      }
      function h(t) {
        !y ||
          ((t.dataset.apiKey = window.SnipcartSettings.publicApiKey),
          window.SnipcartSettings.addProductBehavior &&
            (t.dataset.configAddProductBehavior =
              window.SnipcartSettings.addProductBehavior),
          window.SnipcartSettings.modalStyle &&
            (t.dataset.configModalStyle = window.SnipcartSettings.modalStyle),
          window.SnipcartSettings.currency &&
            (t.dataset.currency = window.SnipcartSettings.currency),
          window.SnipcartSettings.templatesUrl &&
            (t.dataset.templatesUrl = window.SnipcartSettings.templatesUrl));
      }
    })();
  </script>

</html>
